@import "../../.local/share/dotfiles/current/theme/waybar.css";

* {
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: CaskaydiaMono Nerd Font;
    font-size: 12px;
}

window#waybar {
    background-color: alpha(@background, 0.2);
}

.modules-left {
    margin: 8px 0px 8px 10px;
    color: #ffffff;
}

.modules-right {
    margin: 8px 10px 8px 0px;
}

#workspaces button{
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
    color: #ffffff;
}

#clock{
    min-width: 12px;
    margin: 0 5px;
    font-size: 11px;
    color: #ffffff;
}

#workspaces button.empty {
    opacity: 0.5;
    color: #ffffff;
}

#cpu,
#bluetooth,
#pulseaudio,
#network,
#custom-updates,
#custom-openwebui,
#custom-brightness,
#custom-hypridle,
#custom-screenrecord,
#custom-filemanager {
    min-width: 12px;
    margin: 0 5px;
    font-size: 12px;
    color: #ffffff;
}

#custom-hypridle.notactive {
    color: rgb(224, 137, 137);
}
tooltip {
    background-color: alpha(@background, 0.9);
    padding: 20px;
    margin: 0px;
}

tooltip label {
    color: @foreground;
}

#custom-distro-logo {
    font-size: 12px;    
    padding-right: 10px; 
    font-weight: bold;
    color: #ffffff;
}

#battery {
    margin: 1 6px;
    font-size: 15px;
    color: #ffffff;
}

#battery.warning {
    color: #ffff00; /* Amarelo */
}

#battery.critical {
    color: #ff0000; /* Vermelho (opcional, para quando chegar em 10%) */
}
